:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Plus Jakarta Sans", sans-serif;
  --third-family: "Poppins", sans-serif;
  --font3: "Space Grotesk", sans-serif;
}

:root {
  --cancel: #fc6363;
  --process-: #ffb546;
  --success-: #06c698;
  --dark-bg: #131317;
  --dark-card: #2e2e2e;
  --dark-stroke: #454554;
  --neutral-background: #fafafa;
  --neutral-body-text: #808080;
  --neutral-stroke: #eee;
  --neutral-title: #262626;
  --neutral-white: #fff;
  --primary-high: #212121;
  --primary-light: #eee;
  --primary-medium: #3d3d3d;
  --secondary-high: #c6c6c6;
  --secondary-light: #f0f0f0;
  --secondary-medium: #d2d2d2;
}


body {
  background-color: #ffff;
  max-width: 1440px;
  max-height: 900px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
}

button {
  all: unset;
  /* Скидає майже всі стилі */
  box-sizing: border-box;
  /* Встановлює box-sizing */
  cursor: pointer;
  /* Змінює курсор */
}

a {
  text-decoration: none;
  /* Видаляє підкреслення */
  color: inherit;
  /* Використовує колір тексту батьківського елемента */
  cursor: pointer;
  /* Змінює курсор при наведенні */
}

p {
  margin: 0;
  /* Видаляє зовнішні відступи */
  padding: 0;
  /* Видаляє внутрішні відступи */
  line-height: normal;
  /* Повертає стандартну висоту рядка */
  font-size: inherit;
  /* Використовує розмір шрифту від батьківського елемента */
  color: inherit;
  /* Використовує колір тексту від батьківського елемента */
  font-weight: normal;
  /* Скидає жирність тексту */
}

ul {
  list-style: none;
  /* Видаляє маркери */
  margin: 0;
  /* Видаляє зовнішні відступи */
  padding: 0;
  /* Видаляє внутрішні відступи */
}

li {
  margin: 0;
  /* Видаляє зовнішні відступи */
  padding: 0;
  /* Видаляє внутрішні відступи */
}